html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

ol {
  margin: 0;
  padding: 0;
}

.banner_carousel {
  position: relative;
  background: #000000;
}

.banner_carousel .bannerItem_next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  cursor: pointer;
}

.banner_carousel .bannerItem_next:hover {
  background: rgba(255, 255, 255, 0.7);
}

.banner_carousel .bannerItem_next:focus {
  outline: none;
}

.banner_wrap {
  width: 1051px;
  height: 580px;
  margin: 0 auto;
}

.banner_screen {
  position: relative;
  height: 100%;
}

.banner_screen .banner_item {
  position: absolute;
  opacity: 0.5;
  transition: left 1s;
  z-index: 1;
  visibility: hidden;
}

.banner_screen .banner_item.active {
  opacity: 1;
}

.banner_screen .banner_item.visibility {
  visibility: inherit;
}

.banner_screen a {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
